/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
.dark-theme {
  --hue-color: 206;
  --white-color: hsl(var(--hue-color), 4%, 4%);
  --light-white-color: hsl(var(--hue-color), 4%, 10%);
  --black-color: #ffffff;
  --light-black-color: #edf2fc;
  --button-color: #35edb9;
  --light-button-color: #ff7259;
  --shadow: #7a7a7a;
}

:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --white-color: #ffffff;
  --light-white-color: #edf2fc;
  --black-color: #000000;
  --light-black-color: #212121;
  --button-color: #f81bfc;
  --light-button-color: #fe84c9;
  --shadow: #888888;
  --first-color: hsl(260, 100%, 66%);
  --second-color: hsl(328, 100%, 66%);
  --gradient-color: linear-gradient(75deg, var(--second-color) 12%, var(--first-color) 90%);
  --primary : #ff0185;
  --secondary :#091126;


  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggests-font-size: 4rem;
  --biggest-font-size: 3.8rem;
  --bigger-font-size: 3.5rem;
  --bigs-font-size: 3.1rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --text-line-height: 2rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* Dark mode and light dome */
#icon {
  width: 30px;
  cursor: pointer;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  color: var(--light-black-color);
}

h1,
h2,
h3,
a {
  color: var(--black-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 130%;
  height: auto;
  border-radius: 5px;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 2rem 0 2rem;
}

.section__title {
  font-size: var(--bigger-font-size);
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about__title {
  font-size: var(--big-font-size);
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.section__title-gradient {
  color: var(--light-button-color);
  text-shadow: 2px 2px 8px #8531f3;
}

.about_title_gradient {
  color: var(--light-button-color);
  text-shadow: 2px 2px 8px #ec8f2b;
}

/*=============== LAYOUT ===============*/
.main {
  overflow: hidden;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: transparent;
  /* background-color: #eeeeee; */
}

/*===========NAV============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  /* display: flex; */
  width: 1.5rem;
}

/* #logo{
  width:8rem;
} */

.nav_toggle {
  font-size: 1.2rem;
  color: var(--light-black-color);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    background-color: var(--white-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: .4s;
  }
}

.nav_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.nav_link {
  color: var(--light-black-color);
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);


}

.nav_link:hover {
  color: var(--light-button-color);

}

.nav_close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  color: var(--light-black-color);
  cursor: pointer;
}

/* show menu */
.show-menu {
  top: 0;
}


/* Change background header */
.scroll-header {
  background-color: var(--light-white-color);
}


/* Active Link */
.active-link {
  color: var(--button-color);
  font-weight: bold;
  text-shadow: 2px 2px 8px #7a1dec;
}


/*==========================Home=====================*/
.home_img {
  width: 300px;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.home_data {
  padding-top: 1rem;
}

.home_header {
  position: relative;
}

.home_title {
  font-size: var(--bigger-font-size);

  top: -6rem;
  left: 1rem;
  line-height: 6rem;
}

.home_subtitle {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-5);
  color: #2b3b3b;
  text-shadow: 2px 2px 8px #ef2ecf;

}

.home_title-description {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);

}

.home_description {
  margin-bottom: var(--mb-2-5);
  line-height: var(--text-line-height);
  
}
.homes_container {
  display: flex;
  padding: 40px;
  border-radius: 15px;
  margin-top: 10px;
}

.homes_container div {
  width: 50%;
  padding: 10px;
  font-size: var(--font-medium);
}
.homes_subtitle{
  padding-top: 50px;
}

/*=========================Button===========================*/
.button {
  padding: 1rem 1.25rem;
  transition: .3s;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  background: var(--gradient-color);
  padding: 1rem 1.8rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--gradient-color);
  box-shadow: 2px 2px 8px #FF0000;
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: .75rem;
}



/*===============About ME=====================*/
.about_me_container {
  position: relative;
  background-color: var(--light-white-color);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
}

.about_me_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}

.about_me_description {
  margin-bottom: var(--mb-1);
}

.about_me_img {
  width: 300px;
  position: relative;
  /* top:4rem;
  right: -11rem; */
}




.health__container {
  row-gap: 2rem;
}

.health__data {
  text-align: center;
}

.health__description {
  margin-bottom: 2rem;
}

.health__image {
  position: relative;
  justify-self: center;
}

.health__img {
  width: 320px;
}

.health__rate,
.health__course {
  background-color: var(--container-color);
  padding: .5rem .75rem;
  border-radius: .75rem;
  width: max-content;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  position: absolute;
  transition: background .4s;
  /* for dark mode animation*/
}

.health__icon {
  background-color: hsl(2, 100%, 95%);
  border-radius: 50%;
  display: flex;
  padding: 6px;
  font-size: 1.5rem;
  color: hsl(2, 100%, 58%);
}

.health__title,
.health__number {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.health__title {
  color: var(--title-color);
}

.health__number {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  color: transparent;
}


.health__rate {
  top: 4.5rem;
  left: .5rem;
}

.health__course {
  right: .5rem;
  bottom: 2rem;
}

.health__rate,
.health__course {
  background-color: #d2d1d1;

}

/* ===================Service ====================== */
.service_container {
  display: flex;
  background-color: #f9fbfc;
  padding: 40px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
}

.service_container div {
  width: 50%;
  padding: 10px;
}

.service_button {
  margin-top: 10px;
}

.service_img,
.service_img img {
  width: 100%;
}

.discount{
  width: 100%;
  background-color: #000000;
  border-radius: 5px;
  color:yellow;
}



/* ================ Portfolio============ */
.portfolio__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 2rem;
  align-items: center;
}


.portfolio__img {
  width: 300px;
  /* margin-bottom: var(--mb-0-75); */
  transition: .3s;
}

.portfolio__data:hover .portfolio__img {
  transform: translateY(-.5rem);
}

.client-testimonial{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content:space-around;
  column-gap: 20px;
  /* padding: 2%; */

}

.wrapper {
  background-color: #ffffff;
  /* gap: 2rem 2rem; */
  /* align-items: center; */
  border-radius: 0.6em;
  /* margin: 20px; */
 /* position: relative; */
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
  width: 100%;
  margin-top: 10px;
  
}
.testimonial-container {
  width: 90%;
  /* height: 100%; */
  /* position: relative; */
  margin: auto;
  padding: 1.8em 1.2em;
}

.testimonial-container p {
  color: #8c8c90;
  text-align: center;
  font-size: 0.9em;
  line-height: 2em;
  letter-spacing: 0.05em;
}
.testimonial-container img {
  display: block;
  margin: 1.8em auto 1.25em auto;
  border-radius: 50%;
  width: 4.4em;
}
.testimonial-container h3 {
  color: #2d3d67;
  font-size: 1em;
  text-align: center;
}
.testimonial-container h6 {
  color: #bcc4da;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .wrapper {
    font-size: 14p
  }}
/* ================ Contact Us============ */

.container-contactus{
  z-index: 12;
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  /* margin: 0 20px; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  align-items: center;
  
}
.container-contactus .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}
.content .image-box{
  max-width: 55%;
}
.content .image-box img{
  width: 100%;
}
.content .topic{
  font-size: 22px;
  font-weight: 500;
  color: #ba24c2;
}
.content form{
  width: 40%;
  margin-right: 30px;
}
.content .input-box{
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}
.content .input-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  background: #fae9fb;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.content .input-box input:focus,
.content .input-box input:valid{
  border-color: #ba24c2;
  background-color: #fff;
}
.content .input-box label{
  position: absolute;
  left: 18px;
  top: 50%;
  color: #636c72;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label{
  top: 0;
  left: 12px;
  display: 14px;
  color: #ba24c2;
  background: #fff;
}
.content .message-box{
  min-height: 100px;
  position: relative;
}
.content .message-box textarea{
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  background: #fae9fb;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  transition all 0.3s ease;
}
.content .message-box textarea:focus{
  border-color: #ba24c2;
  background-color: #fff;
}
.content .message-box label{
  position: absolute;
  font-size: 16px;
  color: #636c72;
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.content .message-box textarea:focus ~ label{
  left: 12px;
  top: -10px;
  color: #ba24c2;
  font-size: 14px;
  background: #fff;
}
.content .input-box input[type="submit"]{
  color: #fff;
  background: #ba24c2;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.content .input-box input[type="submit"]:hover{
  background-color: #d43ddb;
}
.contact_us_info{
  font-size: 10px;
}
@media (max-width:1000px) {
  .content .image-box{
    max-width: 70%;
  }
  .content{
    padding: 10px 0;
  }
}
@media (max-width:900px) {
  .content .image-box{
    display: none;
  }
  .content form{
    width: 100%;
    margin-left: 30px;
  }
}
.contact_us_logo{
  font-size: 40px;
  gap:auto;
  text-align: center;
}

.address{
  /* height: 80vh; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(145deg, var(--secondary), var(--primary)); */
    margin-bottom: 2rem;
}


.contact-address {
  height: 70vh;
  width: 75vw;
  border-radius: 1rem 0;
  display: flex;
  overflow: hidden;
  box-shadow: 0.7rem .5rem .5rem #0006;
  margin-top: 2rem;
}
.map {
  width:70%;
  height: 100%;
}
.address-desc {
  width:30%;
  height: 100%;
}
.map iframe {
  width: 100%;
  height: 100%;
}
.address-desc {
  position: relative;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding: 0 2rem;
}

.address-desc h1 {
  color:var(--light-button-color);
  font: 500 1.8rem sans-serif;
  padding: 0 2rem;
}
.address-desc h2 {
  color:#fff;
  font: 500 1.3rem sans-serif;
  padding: 0 2rem;
}




/* ++++++++++POPUP++++++++++++++ */
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content>iframe {
  width: 95%;
  height: 100%;
  padding-top: 2rem;
}

.modal-content {
  width: 500px;
  height: 670px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 40px;
  transform: rotate(45deg);
  cursor: pointer;
}


/* =============================== Footer ===================== */

.footer {
  display: inline-block;
}


.footer__container {
  row-gap: 2rem;
}

.footer__logo {
  /* display: flex; */
  align-items: center;
  column-gap: .5rem;
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
  color: var(--light-black-color);
}

.footer__logo-img {
  width: 20px;
}

.footer__description {
  margin-bottom: var(--mb-2-5);
}

.footer__social {
  display: flex;
  column-gap: .75rem;
}

.footer__social-link {
  display: inline-flex;
  background: var(--light-white-color);
  padding: .25rem;
  border-radius: .25rem;
  color: var(--black-color);
  font-size: 1rem;
}

.footer__social-link:hover {
  background: var(--light-white-color);
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.footer__links {
  display: grid;
  row-gap: .35rem;
}

.footer__link {
  font-size: var(--small-font-size);
  color: var(--black-color);
  transition: .3s;
}

.footer__link:hover {
  color: var(--light-white-color);
}

.footer__copy {
  display: block;
  text-align: center;
  font-size: var(--smaller-font-size);
  margin-top: 4.5rem;
}




/* ===============================Scroll up ===================== */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  background-color: var(--light-white-color);
  border-radius: .25rem;
  padding: .45rem;
  opacity: 9;
  z-index: var(--z-tooltip);
  transition: 4s;
}

.scrollup_icon {
  color: var(--black-color);
  font-size: 1.35rem;
}

.scrollup:hover {
  background-color: var(--black-color);
  opacity: 1;
}


/* Show Scroll Up */
.show-scroll {
  bottom: 5rem;
}

/*=============Scroll Bar =================*/
::-webkit-scrollbar {
  width: .55rem;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-black-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--black-color);
}


/*===================== MEDIA QUERIES =================*/
/*For Small Devices */
@media screen and (max-width: 340px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .section__title {
    font-size: var(--big-font-size);
  }

  .about__title {
    font-size: var(--font-medium);
  }

  .home_img {
    width: 350px;
    top: 0rem;
  }

  .home_title {
    top: -4rem;
    font-size: var(--big-font-size);
  }

  .home_subtitle {
    font-size: var(--big-font-size);
    padding-top: 7rem;
  }

  .home_data {
    padding-top: 17rem;
  }

  .home_description {
    font-size: var(--small-font-size);
  }
  
  .homes_container {
    flex-direction: column;
    margin: 0;
    padding: 5px;
  }
  .homes_container div {
    width: 100%;
    font-size: var(--small-font-size);
  }

  .services_img {
    width: 300px;
  }
  .service_container {
    margin: 0;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 10px;
    padding: 0;
  }

  
  .service_container div {
    width: 100%;
    margin: 0;
    padding: 20px 10px;
    
  }

  .portfolio {
    margin: 10%;
    align-items: center;
  }

  .portfolio__container {
    display: inline;
    align-items: center;
  }

  .portfolio__data {
    position: relative;
    display: inline;
  }

  .portfolio__img {
    width: 30.5%;
    margin: .25%;
  }
  
  .contact-address{
    flex-direction: column;
  }
  .map, .address-desc{
    width: 100%;
  }
  .address-desc h1 {
  
    font: 300 1.2rem sans-serif;
    padding: 0;
  }
  .address-desc h2 {
    
    font: 200 1.0rem sans-serif;
    padding: 0 ;
  }





}

/*   For 2 small devices  */
@media screen and (min-width: 341px) {
  .home_img {
    width: 90%;
  }

  .home_data {
    padding-top: 23rem;
    display: flow-root;
  }
  .homes_container {
    flex-direction: column;
    margin: 0;
    padding: 5px;
  }
  .homes_container div {
    width: 100%;
    font-size: var(--small-font-size);
  }

  .service_container {
    margin: 0;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 10px;
    padding: 0;
  }

  
  .service_container div {
    width: 100%;
    margin: 0;
    padding: 20px;
    
  }

  .portfolio {
    margin: 10%;
    align-items: center;
  }

  .portfolio__container {
    display: inline;
    align-items: center;
  }

  .portfolio__data {
    position: relative;
    display: inline;
  }

  .portfolio__img {
    width: 30.5%;
    margin: .25%;
  }
  
  .contact-address{
    flex-direction: column;
  }
  .map, .address-desc{
    width: 100%;
  }

}


/*for medium Devices */
@media screen and (min-width:576px) {
  /* .home_container{
    grid-template-columns: .8fr 1fr; 
  } */

  .home_data {
    padding-top: 37rem;
    display: flow-root;
  }

  .home_img {
    width: 500px;
  }
  .homes_container {
    flex-direction: column;
    margin: 0;
    padding: 5px;
    margin-top:5rem ;
  }
  .homes_container div {
    width: 100%;
    font-size: var(--font-medium);
  }

  .services_img {
    top: -7rem;
  }

  .services_data2half {
    display: flex;
    /* top: -15rem; */
  }

  .services_data3 {
    margin-right: 20%;
  }


  .about_me_img {
    position: initial;
  }

  .about_me_container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  .health__container {
    grid-template-columns: 350px;
    justify-content: center;
  }

  .portfolio__container {
    display: inline;
    align-items: center;
  }

  .portfolio__data {
    position: relative;
    display: inline;
  }

  .portfolio__img {
    width: 31%;
    margin: .25%;
  }
  
  .contact-address{
    flex-direction: column;
  }
  .map, .address-desc{
    width: 100%;
  }




  .footer {
    justify-items: center;
    margin: 0% 5%;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 5%;
  }

}

/* 2nd Mediam screen */
@media screen and (min-width: 767px) {

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav_logo {
    width: 2rem;
  }

  .nav_list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav_link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }

  .nav_toggle,
  .nav_close {
    display: none;
  }

  .home_container {
    position: relative;

    /* grid-template-columns: repeat(2, 1fr); */
  }

  .home_img {
    top: -2rem;
    right: 4rem;
  }

  .home_data {
    padding-top: 3rem;
  }

  .homes_container {
    flex-direction: row;
    margin-top: 20rem;
  }
  
  


  .service_container {
    margin: 0;
    flex-direction: row;
    border-radius: 15px;
    margin-top: 10px;
    padding: 0;
  }

  
  .service_container div {
    width: 50%;
    margin: 0;
    padding: 20px;
    
  }

  .about_me_container {
    grid-template-columns: 350px max-content;
    justify-content: center;
    column-gap: 3rem;
    padding: 3rem 0;
  }

  .about_me_title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1);
  }

  .about_me_description {
    margin-bottom: var(--mb-2);
  }


  .portfolio__container {
    display: inline;
    align-items: center;
  }

  .portfolio__data {
    position: relative;
    display: inline;
  }

  .portfolio__img {
    width: 32%;
    margin: .25%;
  }



  .footer {
    justify-items: center;
    margin: 0% 10%;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 18%;
  }
}


/* For Large Devices */

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home_img {
    width: 420px;
    top: 2rem;
    right: 0rem;
  }

  .home_subtitle {
    top: 6rem;
  }

  .home_description {
    padding-right: 5rem;
    margin-right: 200px;
  }
  .home_title-description{
    margin-right: 300px;
  }
  .homes_container {
    flex-direction: row;
    margin-top: 10rem;
  }


  .services_data3 {
    margin-right: 300px;
  }

  .services_img {
    top: 2rem;
    right: 12rem;
  }

  .about_me_img {
    width: 350px;
  }

  .health__description {
    text-align: center;
  }

  .health__data {
    text-align: initial;
  }

  .health__container {
    grid-template-columns: 500px 580px;
    column-gap: 2rem;
    align-items: center;
  }

  .health__data {
    order: 1;
  }

  .health__img {
    width: 500px;
  }

  .health__icon {
    padding: 9px;
    font-size: 2rem;
  }

  .health__title,
  .health__number {
    font-size: var(--normal-font-size);
  }

  .health__course {
    right: 2rem;
    bottom: 3rem;
  }


  .portfolio {
    margin: 10%;
    align-items: center;
  }

  .portfolio__container {
    display: inline;
    align-items: center;



  }

  .portfolio__data {
    position: relative;
    display: inline;


  }

  .portfolio__img {
    width: 32.5%;
    margin: .25%;
  }
  .contact-address{
    flex-direction: row;
  }
  .map{
    width: 70%;
  }
  .address-desc{
    width: 30%;
  }
  .address-desc::before {
    position: absolute;
    top: 10%;
    left:-2.5rem;
    content: "";
    width: 0;
    height: 0;
    border: 1.4rem solid transparent;
    border-right: 1.4rem solid var(--secondary);
  }




  .footer {
    justify-items: center;
    margin: 0% 20%;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 20%;
  }

}
@media screen and (min-width: 1280px) {
  .container-contactus{
    margin: 0 140px;
  }
}
